//check README.md
$green: #7ceaa4;
$blue: #3b3d54;
$salmon: #F4827B;

*{
  box-sizing: border-box;
}

.wrap{
  perspective-origin: 50% 50%;


.svg{
  position:absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

  .green {
    stroke:$green;
  }

  .blue {
    stroke:$blue;
  }

  .salmon {
    stroke:$salmon;
  }

  $total: 11;
@for $i from 1 through $total {
  $scale:random(2) - .4;

  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .3) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
        bottom:150vh;
        transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }}
}
