/* ===========================================================
	MADAM MONOROM | monorom.com | HTML5 & CSS Project | 2020 
   ===========================================================	*/



body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

header,
footer,
.iconbox {
    background-color: steelblue;
    color: white;
}

.iconbox:hover{
    background-color: navy;
    border-radius: 20px;
}
header a,header a:visited,
footer a,footer a:visited,
.iconbox a, .iconbox a:visited {
    color: lightskyblue;
}
a, a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
	color: red;
}

h1, h2, h3,h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
p{
    line-height: 2rem;
    margin: 0 0 25px;

}
.center{
    text-align: center;
}
a.social, a.social:visited{
    color: gainsboro;
    padding-right: 10px; 
}
button{
  min-width: 100px;
  background-color: #F4827B;
  color: #E0FFFA;
  font-size: 1em;
  border-radius: 15%;
  border: none;
  padding: 10px;
}

/* -----------menu button --------------------------- */
.menubutton {
  position: fixed;
  top: 20px;
  right: 25px;
  height: 27px;
  width: 35px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.menubutton:hover {
  opacity: .7;
}
.menubutton.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.menubutton.active .middle {
  opacity: 0;
  background: #FFF;
}
.menubutton.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.menubutton span {

	background: #41454F;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.menubutton span:nth-of-type(2) {
  top: 11px;
}
.menubutton span:nth-of-type(3) {
  top: 22px;
}
/* -------------- navigavtion------------- 	*/
nav {
    background-color: navy;
}

 nav .container{
	padding: 0;
	 width: 100%;
	} 
nav ul{
	padding:0;
	margin:0;
	list-style-type: none;
	}		
nav a,
nav a:visited{
	display:block;
	color:#fff;
	line-height:56px;
	text-transform: uppercase;
	border-bottom:1px solid #fff;
	font-size:1.3rem;
	padding:0 20px;
	}		
nav a:hover,
nav a.selected {
	background:#fff;
	color:navy;
	}
nav a:not(.selected):hover:after {
	color: navy;
	position:absolute;
	right: 20px;
  font-family: 'Font Awesome 5 Free';
	content: "\f0da";
	font-weight: 900;
	font-size:2rem;
	}	

#mainnav {
	visibility: hidden;
	opacity: 0;
	height: 0;
}
#mainnav.active {
	visibility: visible;
	opacity: 1;
	height: auto;
}


img.responsive{
	max-width: 100%;
	height:auto;
	}

.pager{ 
text-align:right; 
margin:20px 0;
}
.pager a{ 
display: inline-block;
border:1px solid #4C6A92;
padding:5px 10px;
margin:0 2px;
}
.pager a.selected{ 
color:#fff;
background: navy;
}


/* -----------media queries --------------------------- */
@media screen and (min-width: 640px) {
.menubutton { 
	display: none;
 }

 nav ul:after {
	height: 0;
	content: " ";
	display: block;
	clear: left;
}
nav li {
	width: calc(100%/4);
	float: left;
	text-align:center;
}	
nav a {
	border-bottom: none;
}
nav a:not(.selected):hover:after{
	content: " ";
	}	

#mainnav {
	visibility: visible;
	opacity: 1;
    height: auto;
}

 }