/*Unsere Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url("gridSM.css");
@import url("atoms.css");

/* ===========================================================
	TEAM systeMINT | HTML5 & CSS Project | 2021
   ===========================================================	*/

/*Unsere Farben*/
:root {
    --background-blue: #081025;
    --background-light-blue: #5a81f4;
    --green: #7ceaa4;
    --light-green: #6bc74e;
    --light-blue: #E0FFFA;
    --salmon: #F4827B;
}

body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin: 0;
    padding: 0;
    background: linear-gradient(#081025, #177bb1, #3777c7, #3f7cc6, #154f96, #194377, #194377, #081025, #194377);
    color: var(--light-blue);
}

header {
    margin-bottom: 100px;
}

footer {
    margin: auto;
}

/*Unsere Titel*/
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 500;
    font-size: 8vw;
    margin: 0;
    color: #E0FFFA;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 8.3vw;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 8.6vw;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 9vw;
    }
}

h2, h3 {
    color: #E0FFFA;
    text-transform: uppercase;
}

h2 {
    font-weight: 200;
    font-size: 2vw;
    margin: auto 0 20px 0;
}

/*Titel über Content-Elementen*/
h3 {
    font-weight: 400;
    font-size: 2vw;
    margin: 80px 0 20px 0;
}

@media only screen and (max-width: 1000px) {
    h2, h3 {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 700px) {
    h2, h3 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 500px) {
    h2, h3 {
        font-size: 5vw;
    }
}

p {
    line-height: 2rem;
    overflow-wrap: break-word;
}

/*@media only screen and (max-width: 700px) {
    p {
        
    }
}
@media only screen and (max-width: 500px) {
    p {
        
    }
}*/

a, a:visited {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--salmon);
}

.title {
    margin: auto;
}

.intro {
    margin: auto 0 150px 0;
}

/* ------------------- Contents --------------------------- */
.content1, .content2 {
    margin: auto 0 50px 0;
}

.content3, .content-no-button {
    margin: auto 0 150px 0;
}

/*!*todo only temporär zum unterscheiden*!*/
/*.lehrpersonen {*/
/*    background-color: purple;*/
/*}*/

/*.spiel {*/
/*    background-color: #fa9ae6;*/
/*}*/

/*.team {*/
/*    background-color: #ff0c52;*/
/*}*/

/*.kontakt {*/
/*    background-color: #e9630b;*/
/*}*/

/*.footer {*/
/*    background-color: #87690f;*/
/*}*/

/* ------------------- Buttons --------------------------- */
button {
    height: 3rem;
    min-width: 150px;
    color: #E0FFFA;
    font-size: 1em;
    border-radius: 29px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    font-weight: 100;

}

.play-btn, .contact-btn {
    height: 4rem;
    min-width: 230px;
    font-size: 1.6em;
    border-radius: 29px;
    box-shadow: 2px 5px #306d6d;
}

.play-btn {
    background-color: var(--green);
    margin: 5px 45px 5px 0;
}

.contact-btn {
    background-color: var(--light-blue);
    color: var(--green);
    margin: 5px 0 0 0;
}

.more-btn {
    background-color: var(--salmon);
    margin: 5px 0 5px 0;
    box-shadow: 1px 2px #cf7a94;
}

.play-btn:hover, .contact-btn:hover {
    background-color: var(--salmon);
    color: var(--light-blue)

}

.more-btn:hover {
    opacity: .9;
    background-color: var(--green);
}

@media only screen and (max-width: 500px) {
    .contact-btn, .play-btn {
        height: 3rem;
        min-width: 130px;
        font-size: 1em;
        border-radius: 29px;
        margin-right: 5px;
    }
}

/* -----------menu button  aka. Hamburger --------------------------- */
.menubutton {
    position: fixed;
    top: 20px;
    right: 25px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    pointer-events: auto;
}

.menubutton:hover {
    opacity: .7;
}

.menubutton.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: var(--salmon);
}

.menubutton.active .middle {
    opacity: 0;
    background: var(--salmon);
}

.menubutton.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: var(--salmon);
}

.menubutton span {
    background: var(--salmon);
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.menubutton span:nth-of-type(2) {
    top: 11px;
}

.menubutton span:nth-of-type(3) {
    top: 22px;
}

/* ------------------- Navbar aka Header todo --------------------------- */

nav {
    background-color: #2CA2D8;
}

nav .logoNavbar {
    padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 1300px;
    white-space: nowrap;
    overflow: hidden;
}

nav a,
nav a:visited {
    display: block;
    color: #E0FFFA;
    line-height: 56px;
    text-transform: uppercase;
    border-bottom: 0px solid #fff;
    font-size: 1.2rem;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

}

nav a:hover,
nav a.selected {
    color: var(--salmon);
}

nav a:not(.selected):hover:after {
    color: navy;
    position: absolute;
    right: 20px;
    font-family: 'Open Sans';
    content: "\f0da";
    font-weight: 900;
    font-size: 2vw;
}

#mainnav {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: fixed;
    top: 0;
    width: 80%;
    max-width: 1280px;
}

nav li .big {
    font-size: 1.8rem;
}

nav li .bigSalmon {
    font-size: 1.8rem;
    color: #F4827B;
}

#mainnav.active {
    visibility: visible;
    opacity: 1;
    height: auto;
}


img.responsive {
    max-width: 100%;
    height: auto;
}


/* ----------- media queries --------------------------- */
@media screen and (min-width: 700px) {
    .menubutton {
        display: none;
    }

    nav ul:after {
        height: 0;
        content: " ";
        display: block;
        clear: left;
    }

    nav li {
        width: calc(100% / 9);
        float: left;
        text-align: right;
        margin: auto;
    }

    nav a {
        border-bottom: none;
    }

    nav a:not(.selected):hover:after {
        content: " ";
    }

    #mainnav {
        visibility: visible;
        opacity: 1;
        height: auto;
        position: right;
        top: 0;
    }

}

@media screen and (max-width: 1300px) and (min-width: 700px) {
    #home {
        display: none;
    }

    nav li {
        width: calc(100% / 8);
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    #contact {
        display: none;
    }

    nav li {
        width: calc(100% / 7);
    }
}

/* ----------------------- todo images --------------------------- */

.test1 {
    position: absolute;
    width: 120%;
    height: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(7.35deg);
}

.test2 {
    position: absolute;
    width: 200%;
    height: auto;
    opacity: 0.5;
    transform: rotate(-40deg);
    margin-top: 10px;
    z-index: 1;
}

.test3 {
    position: absolute;
    width: auto%;
    height: 70%;
    opacity: 0.5;
    transform: rotate(340deg);
    margin-top: 10px;
    z-index: 1;
}

.test4 {
    position: absolute;
    width: 160%;
    height: auto;
    opacity: 0.5;
    transform: rotate(70deg);
    margin-top: 10px;
    z-index: 1;
}

.lehrpersonen,.spiel, .team, .kontakt, .title {
    margin-top: 400px;
    z-index: 800;
}



