/* ===========================================================
	TEAM systeMINT | HTML5 & CSS Project | 2021
   ===========================================================	*/

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url("gridSM.css");
@import url("otslider.css");
@import url("atoms.css");

/*Unsere Farben*/
:root {
    --background-blue: #081025;
    --background-light-blue: #5a81f4;
    --green: #7ceaa4;
    --light-green: #6bc74e;
    --light-blue: #E0FFFA;
    --salmon: #F4827B;
}

body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin: 0;
    padding: 0;
    background: linear-gradient(#081025, #081025, #0a5984,  #194377, #081025, #081025, #081025);
    color: var(--light-blue);
}

header,
footer,
.iconbox {
    background-color: transparent;
    color: white;
}

.iconbox:hover{
    background-color: var(--salmon);
    border-radius: 20px;
}
header a,header a:visited,
footer a,footer a:visited,
.iconbox a, .iconbox a:visited {
    color: var(--light-blue);
}
a, a:visited {
    color: var(--background-blue);
    text-decoration: none;
}

a:hover {
    color: var(--salmon);
}

.introtext{
    font-size: 1.5em;
    line-height: 140%;
}

@media only screen and (max-width: 1000px) {
    .introtext {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 700px) {
    .introtext {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 500px) {
    .introtext {
        font-size: 1.2em;
    }
}



/*Unsere Titel*/
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 500;
    font-size: 8vw;
    margin: 0;
    color:var(--light-blue);
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 8.3vw;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 8.6vw;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 9vw;
    }
}


h2, h3 {
    text-transform: uppercase;
}

h2 {
    font-weight: 200;
    font-size: 2vw;
    margin: auto 0 20px 0;
    color: var(--light-blue);
}

/*Titel über Content-Elementen*/
h3 {
    color: var(--light-blue);
    font-weight: 400;
    font-size: 2vw;
    margin: 80px 0 20px 0;
}

@media only screen and (max-width: 1000px) {
    h2, h3 {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 700px) {
    h2, h3 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 500px) {
    h2, h3 {
        font-size: 5vw;
    }
}

p {
    line-height: 2rem;
    overflow-wrap: break-word;
}

li {
    line-height: 2rem;
}

.contact-title{
    font-size: 1.9rem;
    color: var(--green);
    overflow-wrap: break-word;

}

/*@media only screen and (max-width: 700px) {
    p {
    }
}
@media only screen and (max-width: 500px) {
    p {
    }
}*/

a, a:visited {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--salmon);
}


.intro {
    margin: auto 0 150px 0;
}



.center{
    text-align: center;
}
a.social, a.social:visited{
    color: var(--light-blue);
    padding-right: 10px;
}


/* ------------------- Contents --------------------------- */
.content1, .content2 {
    margin: auto 0 50px 0;
}

.content3, .content-no-button {
    margin: auto 0 150px 0;
}

/*!*todo only temporär zum unterscheiden*!*/
/*.lehrpersonen {*/
/*    background-color: #1e4a6a;*/
/*}*/

/*.spiel {*/
/*    background-color: #092238;*/

/*}*/

/*.title {*/
/*    background-color: #092238;*/
/*}*/

/*.team {*/
/*    background-color: #ff0c52;*/
/*}*/

/*.kontakt {*/
/*    background-color: #e9630b;*/
/*}*/

.zielgruppe{
    background-color: var(--background-blue);
}

.zielgruppe h1, h3 {
    color: var(--green);
}

.background-detail {
    background-color: var(--background-blue) !important;
}



#homelink, #spiel, #schule, #team, #kontakt {
    scroll-margin-top: 100px;
}


/* ------------------- Buttons --------------------------- */
button {
    height: 3rem;
    min-width: 150px;
    color: #E0FFFA;
    font-size: 1em;
    border-radius: 29px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    font-weight: 100;
    position: relative;

}

.play-btn, .contact-btn {
    height: 4rem;
    min-width: 230px;
    font-weight: bold;
    font-size: 1.6em;
    border-radius: 29px;
    box-shadow: 2px 5px #306d6d;
}

.play-btn {
    background-color: var(--green);
    margin: 5px 45px 5px 0;
}

.contact-btn {
    background-color: var(--light-blue);
    color: var(--salmon);
    margin: 5px 0 0 0;
}

.more-btn {
    background-color: var(--salmon);
    margin: 5px 0 5px 0;
    box-shadow: 1px 2px #cf7a94;
}

.play-btn:hover, .contact-btn:hover {
    background-color: var(--salmon);
    color: var(--light-blue)
}


.more-btn:hover {
    opacity: .9;
    background-color: var(--green);
}

@media only screen and (max-width: 500px) {
    .contact-btn, .play-btn {
        height: 3rem;
        min-width: 130px;
        font-size: 1em;
        border-radius: 29px;
        margin-right: 5px;
    }
}

/* -----------menu button  aka. Hamburger --------------------------- */
.menubutton {
    position: fixed;
    top: 20px;
    right: 25px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.menubutton:hover {
    opacity: .7;
}
.menubutton.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.menubutton.active .middle {
    opacity: 0;
    background: #FFF;
}
.menubutton.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.menubutton span {
    background: var(--salmon);
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.menubutton span:nth-of-type(2) {
    top: 11px;
}
.menubutton span:nth-of-type(3) {
    top: 22px;
}
/* -------------- navigavtion------------- 	*/
nav {
    background-color: transparent;
    z-index: 10000;
}

nav .container{
    padding: 0;
    width: 100%;
}

nav ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 80%;
    max-width: 1280px;
    white-space: nowrap;
    overflow: hidden;
}

nav a,
nav a:visited{
    display:block;
    color:var(--light-blue);
    line-height:56px;
    text-transform: uppercase;
    border-bottom:1px solid var(--light-blue);
    font-size:1.3rem;
    padding:0 20px;
}
nav a:hover,
nav a.selected {
    color:var(--salmon);
}
nav a:not(.selected):hover:after {
    color: var(--green);
    position:absolute;
    right: 20px;
    font-family: 'Open Sans';
    content: "\f0da";
    font-weight: 900;
    font-size:2rem;
}

#mainnav {
    visibility: hidden;
    opacity: 0;
    height: 0;
}
#mainnav.active {
    visibility: visible;
    opacity: 1;
    height: auto;
}


.big {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 500;
    font-size: 2rem;
}

.salmon {
    color: #F4827B;
    text-shadow: 2px 2px #FF0000;
}

img.responsive{
    max-width: 100%;
    height:auto;
}


/* -----------media queries --------------------------- */
@media screen and (min-width: 640px) {
    .menubutton {
        display: none;
    }

    nav ul:after {
        height: 0;
        content: " ";
        display: block;
        clear: left;
    }
    nav li {
        width: calc(100%/4);
        float: left;
        text-align:center;
    }
    nav a {
        border-bottom: none;
    }
    nav a:not(.selected):hover:after{
        content: " ";
    }

    #mainnav {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

}

/* -----------media queries --------------------------- */


imageOne {
    position: absolute;
    width: 180%;
    height: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(7.35deg);
}

.imageTwo {
    position: absolute;
    margin-top: 10px;
    width: 200%;
    height: auto;
    opacity: 0.5;
    transform: rotate(-40deg);
    z-index: 1;
}

.imageThree {
    position: absolute;
    width: auto;
    height: 70%;
    opacity: 0.5;
    transform: rotate(340deg);
    margin-top: 10px;
    z-index: 1;
}

.imageFour {
    position: absolute;
    width: 90%;
    height: auto;
    opacity: 0.5;
    transform: rotate(70deg);
    margin-top: 10px;
    z-index: 1;
}

.imageFive {
    position: absolute;
    width: 160%;
    height: auto;
    opacity: 0.9;
    margin-top: 10px;
    z-index: 1;
}


.lehrpersonen, .spiel, .team, .kontakt, .title {
    z-index: 800 !important;
    position: relative;
    padding-bottom: 7rem;
}

.title, .lehrpersonen {
    padding-top: 7rem;
}